name: Run App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # 允许手动触发

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      # 1. 检出代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 安装 Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24' # 你可以根据需要更改版本

      # 3. 安装 FFmpeg
      #- name: Install FFmpeg
        #uses: federicocarboni/setup-ffmpeg@v3
        #with:
          #token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          # 安装 ffmpeg 和 sensors (对应你代码里的 exec('sensors'))
          sudo apt-get install -y ffmpeg lm-sensors
          # 检查 sensors 是否能跑（在虚拟机里可能返回空，但不会报错）
          sensors || true

      # 4. 安装 cloudflared
      - name: Install cloudflared
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/download/2026.1.1/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb

      # 5. 安装 npm 依赖
      - name: Install npm dependencies
        run: |
          npm install

      # 6. 安装 Playwright 所需的浏览器内核及系统依赖 (无头 Chrome)
      - name: Install Playwright Browsers
        run: |
          npx playwright install chromium --with-deps

      # 7. 启动隧道
      - name: Start Tunnel
        env: # 定义环境变量
          API_KEY: ${{ secrets.CF_TOKEN }}
        run: |
          # 以服务挂载后台启动 Cloudflare Tunnel
          sudo cloudflared service install $API_KEY

      - name: Start App
        env:
          PROXY_DOMAIN: ${{ secrets.PROXY_DOMAIN }}
          # 运行 Node.js 应用
          # 如果 app.js 是一个 Web 服务器，它将保持运行直到 Action 超时
        run: |
          node app.js
